header {
  background-color: #9e77ed;
  color: snow;

  .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .styled {
      font-size: 2rem;
      border-radius: 20px;
    }
    nav {
      display: flex;
      justify-content: space-around;
      gap: 3rem;
      .hover {
        padding: 1rem 2rem;
      }
      :hover {
        background-color: #6941c6;
      }
      .active {
        background-color: #6941c6;
      }
    }
  }
}
